<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#home">Jake Schmitz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#about_me">About Me</a>
      <a class="nav-item nav-link" href="#projects">Projects</a>
      <a class="nav-item nav-link" href="#seneca_foundation">Seneca Foundation</a>
      <a class="nav-item nav-link" href="#habits">Habits</a>
      <a class="nav-item nav-link" href="#contact_me">Contact Me</a>
    </div>
    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <a target="_blank" href="https://github.com/jschmitz">
        <%= image_tag "Octocat.png", width:"32", height:"32", alt:"Github Logo"%>
      </a>
      <a target="_blank" href="https://twitter.com/jakeschmitz">
        <%= image_tag "twitter.svg", width:"32", height:"32", alt:"Twitter Logo"%>
      </a>
      <a target="_blank" href="https://www.goodreads.com/user/show/18015802-jake-schmitz">
        <%= image_tag "goodreads.png", width:"32", height:"32", alt:"Goodreads Logo"%>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/jake-schmitz-745b3b1/">
        <%= image_tag "linkedin.png", width:"32", height:"32", alt:"LinkedIn Logo" %>
      </a>
      <a target="_blank" href="https://www.jakeschmitz.com/blog">
        <%= image_tag "blog.png", width:"32", height:"32", alt:"Blog Logo" %>
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid landing">
  <div id="home" class="container vh-100 text-center">
    <div class="row align-items-center h-100">
        <h1 class="col-12 text-center">Hello, I'm Jake Schmitz</h1>
    </div>
  </div>
</div>

<div class="container-fluid sections">
  <section id="about_me">
    <h2 id="about_me">About Me</h1>
    <div class="row">
      <div class= "col">
        <%= image_tag "about_collage.jpg", alt:"About Me Collage", class:"img-fluid", style:"min-width:25em; max-width:75%" %>
      </div>
      <div class= "col">
        <p>Hi, I'm Jake Schmitz. Dad. Husband. Leader. Developer.</p>
        <p>The software industry has been a With 20 years of software development experience in a range of roles from technology consulting to leading in house development teams that deliver high quality software solutions, I learn and have fun every day.
        </p>
        <p>
          The last ten yeas I have had the great oppurtunity to learn and grow at <a href="www.vailsys.com" alt="Vail Systems">Vail Systems</a> for ten plus years with a terffific team of people. At Vail, there have been many challenges to build and great teams and great software. New challenges keep emerging and I'm grateful for those challenges and the people that collaborate on those to arrive at successful outomes.
        </p>
      </div>
    </div>
  </section>

  <section class="separator-row text-center">
    <h1>Lifelong Learning</h1>
  </section>

  <section id="projects">
    <div class="row">
      <div class="col">
        <!-- <h2 id="projects">Projects</h1> -->
        <p>In elementry school I had a trap keep and the lead page was a nice had a Lifelong Lerning picture. I'm still going with mantra thiry years later! Reading books, video course and applying those learnings on a day to day basis, side project or blog post help me keep the learning going. </p>
        <p>
          This year with the pandemic quarantine and the kids sleeping through the night consistently there has been more energy available for proof of concept side projects.
          The focus for the side projects has been to use <a href="www.freeclimb.com">FreeClimb</a>. The apps were fun to build and if other folks found them useful in anyway that is great.
        </p>
        <ul>
          <li><a href="https://github.com/jschmitz/rockworm">Data Collector</a></li>
          <li><a href="https://github.com/jschmitz/kms_conferencing">Simple Conferencing</a></li>
        </ul>
        </p>
        <p>
          The next app on the radar is to keep building something related to habits and making data collection easy.
        </p>
      </div>
      <div class="col">
        <a href="www.freeclimb.com"><%= image_tag "freeclimb_logo.png",alt:"FreeClimb Logo" %></a>
      </div>
    </div>
  </section>

  <section class="separator-row text-center">
    <h1>Pay it Forward</h1>
  </section>

  <section id="seneca_foundation">
    <h2 >Seneca Foundation</h1>
    <div class="row">
      <div class="col">
        <%= image_tag "learn_to_code.jpg",alt:"Learn To Code" %>
      </div>
      <div class="col">
        <p>I am excited and grateful to have the oppurtunity to contribute to the <a href="https://www.senecafoundation.org/">Seneca Foundation</a>. We have a great first cohort and a great team of folks making positive things happen and Mr. Jim Whiteley has a great vision for the Foundation.</p>
      </div>
    </div>
  </section>

  <section class="separator-row text-center">
    <h1>Habits Drive Outcomes</h1>
  </section>

  <section id="habits">
    <div class="workouts">
      <h2>Habits</h2>
      <div class="row">
        <div class="col">
          <p>
            The idea the small things you do with discipline on a daily basis appeal to me. Looking back, I can see the impacts of habits for big efforts in my life in academics, running and athletics and my career and its really interesting to view that those daily activities have driven the outcomes I've had good outcomes when my day to day habits were good and when my habits slipped my outcomes weren't as good. The books that have help to get me there are, in the order of readhing, are 7 Habits of Hightly Effiective People, Slight Edge, Power of Habit and the best of the bunch Atomic Habits. Atomic Habits had the biggest impact and is helping my continue to build better habits and wortha second read. If you were to pick one book to read Atomic Habits would be my choice.
          </p>
          <p>
            On of the my exploration projects is to collect more data. I've started with my exercise routine and collecting information there. Check out the heatmap of what I've been up to lately. I've discovered as I age that I need more Yoga and Pilates and rest vs. running and jumping and heavy weights. Building the calendar heatmap you see was a lot of fun (ties back to Atomic Habits!) and making sure my green squares are trending in a good direction.
          </p>
          <%=link_to "Workouts", workout_logs_path %>
        </div>
        <div class="col">
          <div id="my_dataviz"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="separator-row text-center">
    <h1>Communication is Key</h1>
  </section>

  <section id="about_me">
    <h2 id="contact_me">Contact Me</h1>
    <div class="row">
      <div class= "col">
        <p>It would be great to hear from you! You can give me a call (it will be an automated message but a fun automated messsage or send a message away.  get a message Get in touch by sending me a message or try giving me a call! </p>
        <p>The phone number and the texting capabilites are both powered by <a href="www.freeclimb.com" alt="FreeClimb">FreeClimb</a> 
        </p>
      </div>
      <div class= "col">
        <%= form_with(url: "/messages", method: "post") do %>
          <%= label_tag(:message, "Send me a message") %>
          <%= text_field_tag(:message) %>
          <%= submit_tag("Send Message!") %>
        <% end %>
        <p>Give me a call <%= number_to_phone(@contact_phone_number,  area_code: true) %></p>
      </div>
    </div>
  </section>
</div>

