<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#home">Jake Schmitz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#projects">Projects</a>
      <a class="nav-item nav-link" href="#seneca_foundation">Seneca Foundation</a>
      <a class="nav-item nav-link" href="#habits">Habits</a>
    </div>
    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <a target="_blank" href="https://github.com/jschmitz">
        <%= image_tag "Octocat.png", width:"32", height:"32", alt:"Github Logo"%>
      </a>
      <a target="_blank" href="https://twitter.com/jakeschmitz">
        <%= image_tag "twitter.svg", width:"32", height:"32", alt:"Twitter Logo"%>
      </a>
      <a target="_blank" href="https://www.goodreads.com/user/show/18015802-jake-schmitz">
        <%= image_tag "goodreads.png", width:"32", height:"32", alt:"Goodreads Logo"%>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/jake-schmitz-745b3b1/">
        <%= image_tag "linkedin.png", width:"32", height:"32", alt:"LinkedIn Logo" %>
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div id="home" class="container vh-100 text-center">
    <div class="row align-items-center h-100">
        <h1 class="col-12 text-center">Hello, I'm Jake</h1>
    </div>
  </div>
  <section id="projects">
    <h1 id="projects">Projects</h1>
    <ul>
      <li>Simple Conferencing</li>
      <li>Shop Safe</li>
      <li>Data Collector</li>
    </ul>
  </section>
  <section id="seneca_foundation">
    <h1 >Seneca Foundation</h1>
    <p>Discuss awesomeness here</p>
  </section>
  <section id="habits">
    <h1>Habits</h1>
    <%= link_to "Workouts", workout_logs_path %>
  </section>
</div>

