<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jake Schmitz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180"%>
    <%= favicon_link_tag "favicon-32x32.png", rel: "icon", type: "image/png", sizes: "32x32"%>
    <%= favicon_link_tag "favicon-16x16.png", rel: "icon", type: "image/png", sizes: "16x16"%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Software Leadership, Mentorship, Engineering, Management,  Software Development, Coding, Programming, Technology, Vail Systems, Director, Chicago, Illinois, Northbrook, Iowa State University, Waterloo, Iowa, Waterloo West High School, Technology Services Group" />
    <!-- Start of Woopra Code -->
    <script>
      (function(){
        var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
      })("woopra");

      woopra.config({
          domain: 'jakeschmitz.com'
      });
      woopra.track();
    </script>
    <!-- End of Woopra Code -->
  </head>

  <body>
    <%= yield %>
    <footer class="page-footer font-small blue pt-4">
      <div class="text-center">
        <a target="_blank" href="https://github.com/jschmitz" rel="noreferrer noopener">
          <%= image_tag "Octocat.png", width:"32", height:"32", alt:"Github Logo"%>
        </a>
        <a target="_blank" href="https://twitter.com/jakeschmitz" rel="noreferrer noopener">
          <%= image_tag "twitter.svg", width:"32", height:"32", alt:"Twitter Logo"%>
        </a>
        <a target="_blank" href="https://www.goodreads.com/user/show/18015802-jake-schmitz" rel="noreferrer noopener">
          <%= image_tag "goodreads.png", width:"32", height:"32", alt:"Goodreads Logo"%>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/jake-schmitz-745b3b1/" rel="noreferrer noopener">
          <%= image_tag "linkedin.png", width:"32", height:"32", alt:"LinkedIn Logo" %>
        </a>
        <a target="_blank" href="https://www.jakeschmitz.com/blog" rel="noreferrer noopener">
          <%= image_tag "blog.png", width:"32", height:"32", alt:"Blog Logo" %>
        </a>
      </div>
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://jakeschmitz.com/">jakeschmitz.com</a>
      </div>
    </footer>
  </body>
</html>
